.App {
  text-align: center;
}
table, td {
  border: 1px solid black;
  margin: 50px auto;
  border-collapse: collapse

}
.header {
  background-color: lightsteelblue;
}
td{
  padding:10px 30px;
}
.btn {
  width: 150px;
  height: 50px;
  background-color: lightsteelblue;
  color: white;
}
